= form_for(@interactive_slide, url: {action: 'create'}) do |f|
  %h3.subheading= localize('form.title')
  .form-group
    = f.label('', localize('form.name'), class: 'mandatory')
    = f.text_field :name, maxlength: '40', placeholder: localize('form.name_placeholder'), class: 'form-control'
    %span.name-error.error
  .form-group.radio-btn-group
    = hidden_field_tag 'course_id', params[:id]
    = f.hidden_field :course_section_id
    = f.hidden_field :version_id
    = f.label('', localize('form.slide_type'))
    .radio
      = f.radio_button :interactive_slide_type, localize('form.slide_text'),
        checked: 'checked'
      = f.label localize('form.slide_text')
    .radio
      = f.radio_button :interactive_slide_type, localize('form.slide_image')
      = f.label localize('form.slide_image')
    .radio
      = f.radio_button :interactive_slide_type, localize('form.slide_text_image')
      = f.label localize('form.slide_text_image')
  .form-group.full-group
    = f.label('', localize('form.description'), class: 'mandatory')
    = f.text_area :description, placeholder: localize('form.description_placeholder'), class: 'form-control'
    %span.description-error.error
    %p.error= show_errors(@interactive_slide, :description)
  .actions
    = f.submit(localize('form.save'), class: 'btn btn-primary submit-interactive-slide', data: { empty_title: localize('empty_title_message'), empty_description: localize('empty_description_message')})
    = link_to localize('cancel'), syllabus_version_path(@version)
