.interactive-slide-wrapper.text-type
  .custom-page-header
    %h1= I18n.t('course_creation.interactive_slides_informations.text_slide.text_heading', course_name: course_name)
    %h4= I18n.t('course_creation.interactive_slides_informations.text_slide.text_section_heading', section_name: section_name)
  .quiz-wrapper
    .col-md-12
      .edit-quiz-wrapper
        = render 'edit_interactive_slide'
        .edit-quiz-name.hidden-area
          .form-group
            = text_field_tag localize('text_slide.text_slidelabel'), '', class: 'form-control'
          = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save', id: 'saveTitle'
          = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
          = f.hidden_field 'information', disabled: 'disabled', value: "#{@text_slides.count}"
          = f.hidden_field 'minimum', disabled: 'disabled', value: "#{CourseCreation::InteractiveSlidesInformation::MIN_TEXT_SLIDE_VALUE}"
      .clearfix
  .course-template-inner
    .add-section-container
      - if @text_slides.present?
        - @text_slides.each do |record|
          .custom-upload.quiz-item.add-quiz-item{data: {id: record.id, title: record.title ,description: record.description }}
            %span.data-content= record.title
        - (CourseCreation::InteractiveSlidesInformation::MAX_TEXT_SLIDE_VALUE - @text_slides.count).times do
          .custom-upload.quiz-item.add-quiz-item{data: {id: '', title: localize('add_item_title'), description: localize('add_item_description')}}
            %span.glyphicon.glyphicon-plus{'aria-hidden': 'true'}
            %span.data-content= localize('text_slide.add_slide')
      - else
        .custom-upload.quiz-item.add-quiz-item.selected{data: {id: '', title: localize('add_item_title'), description: localize('add_item_description')}}
          %span.glyphicon.glyphicon-plus{'aria-hidden': 'true'}
          %span.data-content= localize('text_slide.add_slide')
        - CourseCreation::InteractiveSlidesInformation::TEXT_SLIDE_UI_ITERATION.times do
          .custom-upload.quiz-item.add-quiz-item{data: {id: '', title: localize('add_item_title') ,description: localize('add_item_description')}}
            %span.glyphicon.glyphicon-plus{'aria-hidden': 'true'}
            %span.data-content= localize('text_slide.add_slide')
    .update-text-container
      .update-heading{data: {slide_id: params[:interactive_slide_id]}}
        %h4= localize('text_slide.add_slide_title')
      .edit-heading.hidden-area{data: {slide_title: localize('text_slide.add_slide_title'), emptyTitle: localize('form.empty_title_message')}}
        = text_field_tag localize('text_slide.add_slide_name'), '', placeholder: localize('text_slide.add_slide_name_placeholder'), class: 'form-control', id: 'title', maxlength: '15'
        .update-links
          = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save', id: 'saveTitle'
          = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
          .clearfix
      .text-area-container
        .is-slide-desc.editor-desc= localize('text_slide.add_text_content')
        .edit-slide-content.hidden-area{data: {alert_message: localize('add_item'), description_content: localize('text_slide.add_text_content')}}
          = text_area '', '', placeholder: localize('text_slide.add_text_content_placeholder'), class: 'form-control description', rows: 10, cols: 50, id: 'description'
          .update-links
            = link_to localize('text_slide.save'), 'javascript:void(0)', class: 'pull-left save', id: 'saveContent'
            = link_to localize('text_slide.cancel'), 'javascript:void(0)', class: 'pull-right cancel'
            .clearfix
    .delete-section{data: {alert_message: localize('are_you_sure')}}
      = link_to localize('text_slide.delete_slide'), 'javascript:void(0)', class: 'pull-right deleteItem', id: 'deleteContent'
  .back-to-syllabus-btn
    = link_to localize('text_slide.done'), syllabus_version_path(@version), class: 'btn btn-primary'
