= form_for @interactive_slide_information, url: {action: 'create'} do |f|
  = hidden_field_tag :inter_slide_id, params[:interactive_slide_id]
  = hidden_field_tag :course_section_id, params[:course_section_id]
  = hidden_field_tag :version_id, params[:version_id]
  = hidden_field_tag :inter_slide_type, params[:type]
  = hidden_field_tag :s_id
  - if @interactive_slide_information.errors.any?
    #error_explanation
      %h2
        = pluralize(@interactive_slide_information.errors.count, 'error')
        prohibited this interactive slide from being saved:
      %ul
        - @interactive_slide_information.errors.full_messages.each do |message|
          %li= message
  = render type_render, f:f
  = javascript_include_tag 'course_creation/interactive_slides/views/text_interactive/text_interactive'
  = javascript_include_tag 'course_creation/interactive_slides/routes'
