%section.assessment-wrap
  .custom-page-header
    %h1= localize(:assessment)
  .row
    .col-md-12
      = link_to localize(:new), new_version_course_section_assessment_path, class: 'btn btn-primary pull-right'
  %table.table.table-striped
    %thead
      %tr
        %th= localize(:name)
        %th= localize(:assessment_type)
        %th= localize(:assessment_action)
    %tbody
      - @assessments.each do |assessment|
        %tr
          %td.assessment-name= link_to assessment.name, assessment_questions_path(assessment)
          %td= assessment.assessment_type
          %td
            = link_to localize(:edit), edit_version_course_section_assessment_path(id: assessment.id), class: 'btn btn-default'
            = link_to localize(:delete), version_course_section_assessment_path(id: assessment.id), data: {confirm: t(:delete_message)}, method: :delete, class: 'btn btn-sm btn-danger'
