!!!
%html{lang: 'en'}
  %head
    %title Course Creation
    = favicon_link_tag 'favicon.ico'
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    = javascript_include_tag '//use.typekit.net/wnv1ggh.js'
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
    = stylesheet_link_tag 'course_creation/course_creation', media: 'all'
    = javascript_include_tag 'course_creation/application'
    = csrf_meta_tags
  %body
    .loader
    .wrapper
      = render 'course_creation/shared/header'
      - flash.each do |key, value|
        %div{class: "alert alert-#{key}"}= value
      .container.main-content-wrapper
        .row
          .col-md-2
            = render 'course_creation/shared/leftNav'
          .col-md-10.left-border
            = yield
    = render 'course_creation/shared/footer'
