%nav.slide-thum-wrapper
  %h4 Slides
  .nav-content
    %ul.slide-list.sortable{ data: { presentation_id: @presentation.id } }
      - @slides.each_with_index do |slide,index|
        %li.slide-box{ data: { slide_id: slide.id } }
          %i.slide-index
            = index + 1
          = link_to '', edit_version_course_section_presentation_slide_path(@version, @course_section, @presentation, slide), class: "show-slide slide-thumb column-#{slide.number_of_columns}-thumb #{active_slide_class(slide.id)}", data: {index: "#{localize('form.slide_title')} #{index + 1}"}
          = link_to '', version_course_section_presentation_slide_path(@version, @course_section, @presentation, slide), data: { method: :delete, confirm: t(:delete_message)}, class: 'delete-slide'
      %li
        %i.slide-index
        = link_to new_version_course_section_presentation_slide_path(@version, @course_section, @presentation), class: 'new-slide slide-thumb' do
          %i
          %span= localize('form.add_new_slide')
