%section.add-resources-wrap
  .custom-page-header
    %h1= @type
  #resource-info{ data: { version_id: @version.id, type: @type } }
  .add-quote-wrap
    .resource-lisiting
      .resource-list
        %ul.chapter.content-listing
          - version.resources_order(@type).each do |resource|
            %li.resource{ data: { resource_id: resource.id } }
              .version-title
                %span= resource.title
                .version-action-wrap
                  = link_to '', send("edit_version_#{resource_type}_path", version.id, resource.id), class: 'resource-link edit-btn'
                  = link_to '', [version, resource], method: :delete, class: 'resource-link delete-btn', data: { confirm: t('delete_message') }
    = link_to content_tag(:span, "Add #{resource_type}"), send("new_version_#{resource_type}_path", version), class: 'add-new-chapter-btn'
