-if %w(Quote Note).include? params[:type]
  =render 'form'
-else
  %section.add-note
    .custom-page-header
      %h1= localize(:title)
    .loader
    .videos.video-detail-wrapper
      = form_for [@version, @section, @resource] do |f|
        - if @resource.errors.any?
          #error_explanation.error
            %span
              = pluralize(@resource.errors.count, 'error')
              = localize('error_message')
            %ul
              - @resource.errors.full_messages.each do |message|
                %li= message
        .form-group.well
          = f.file_field :file
          .note
            = supported_formats_msg(@resource.type)
        .well
          .form-group.default-img-wrapper
            = label_tag resource_file_name(@resource.file.path)
          .form-group
            = f.label('', localize(:title_lb), class: 'mandatory')
            = f.text_field :title, {class: 'form-control required', id: "title-#{@resource.id}", maxlength: '50'}
          .form-group.full-form-group
            = f.send(description_field, :description, class: 'required no-mce form-control', id: "description-#{@resource.id}")
            = f.hidden_field :course_section_id
            = f.hidden_field :type
            = f.hidden_field :version_id, value: @version.id
            = link_to localize(:delete_btn), [@version, @section, @resource], method: :delete, class: 'remove-video', data: {confirm: localize('delete_message')}
        .form-group
          .actions
            = f.submit(localize(:save), class: 'btn btn-primary')
            = link_to(localize(:cancel_btn), 'javascript:void(0)')
