%script{:id => 'single_visual', :type => "text/ng-template"}
  .single-answer-question-layout
    %h2
      Question {{ slideData.questionIndex }}
      %span
        of {{ noOfQuestions }}
    .assessment-wrap
      .question-block{'ng-bind-html': 'slideData.title | sanitize'}
      .answer-block
        %ul.assessment-visual-list.radiobox-main-block
          %li{'ng-repeat': 'answer in slideData.answers'}
            .img-wrap
              %img{'ng-src' => '{{ answer.image }}'}
            .radiobox-wrap
              .radio-wrap
                %input{'type': 'radio', 'ct-custom-radio': '','value': '{{ answer.id }}', 'ng-click': 'selectSingleAnswer(answer)'}
                %span.custom-radiobox
    %a.submit-btn{'ng-click': 'submitAnswer(slideData)', 'ng-class': '{disabled: objectiveAnswersAttributes.length == 0 || processing}'} Submit Answer
