%script{:id => "sorting", :type => "text/ng-template"}
  .sorting-question-layout
    %h2
      Question 3
      %span
        of 12
    .question-block
      Rank the order of the following 5 possible outcomes of youth athletics:
    .answer-block
      %table.table
        %tr
          %td
            1
          %td
            Enhance self-esteem
        %tr
          %td
            2
          %td
            Learn to compete
        %tr
          %td
            3
          %td
            Enhance team pride
        %tr
          %td
            4
          %td
            Improve players athletic ability
        %tr
          %td
            5
          %td
            Promotion of learning
    %a{'href': 'javascript:void(0)', class: 'submit-btn'} Submit Answer
