%script{:id => "start_assessment", :type => "text/ng-template"}
  %h2{'ng-bind': 'slideData.title'}
  .pre-course-layout-wrap
    .one-col-layout.pre-course-layout
      %p{'ng-bind-html': 'slideData.description | sanitize'}
      .border-wrapper
        %p Total number of question: {{ slideData.no_of_question }}
        %p Passing Percentage: {{slideData.passing_percentage}} %
    .center-wrapper
      %a.blue-btn{'ng-click': 'startAssessment()'} START {{ assessmentType | uppercase }}
