%script{:id => 'Assessment', :type => "text/ng-template"}
  .assessment-wrapper{'ng-controller':'AssessmentContentCtrl', 'ng-init': 'initAssessmentContent()'}
    %div{"ng-include" => "", 'src' => "slideData.question_category"}

    = render 'course_creation/course_taking/templates/assessment/startAssessment'
    = render 'course_creation/course_taking/templates/assessment/singleAnswerQuestion'
    = render 'course_creation/course_taking/templates/assessment/multipleAnswerQuestion'
    = render 'course_creation/course_taking/templates/assessment/singleVisualQuestion'
    = render 'course_creation/course_taking/templates/assessment/multipleVisualQuestion'
    = render 'course_creation/course_taking/templates/assessment/trueFalseQuestion'
    = render 'course_creation/course_taking/templates/assessment/resultAssessment'
