%script{:id => "CustomContent", :type => "text/ng-template"}
  .custom-content-layout{'ng-controller':'CustomContentCtrl', 'ng-init': 'initCustomContent()'}
    .iframe-wrapper
      %iframe{ src: '{{currentCustomContent}}', align: 'middle', frameborder: '0', width: '100%', height: '526', id: 'customContentIframe'}
