%script{:id => "Document", :type => "text/ng-template"}
  .document-content-layout{'ng-controller':'DocumentContentCtrl', 'ng-init': 'initDocumentContent()'}
    %ng-pdf{ 'template-url': '/course_creation/course_taking/templates/_pdfViewer', 'scale': 'page-fit'}
