.course-taking-left-nav.sideOuter.active{'ng-init': 'initCourseOutline()'}
  %span#showLeftNav.glyphicon.glyphicons-show-lines{'ct-side-bar': ''}
  .nav-heading
    %span#hideLeftNav.hide-block{'ct-side-bar': ''}
      %span Hide
      %i.hide-icon
    %h5 Course Outline
  .clearfix
  %ol.vertical-left-menu
    %li{'ng-repeat': 'chapter in chapters', 'ng-class': "{'course-completed-icon': chapter.status == CONTENT_STATUS.COMPLETED && !$preview(), 'active': chapter.id == currentChapterId, 'disabled': chapter.status == CONTENT_STATUS.NOT_STARTED && chapter.id != currentChapterId && !$preview()}"}
      %a.chapter{'ct-sub-menu': '', 'ng-bind': 'chapter.name', 'ng-class': "{'submenu': chapter.contents.length, 'active': chapter.status == CONTENT_STATUS.IN_PROGESS}", 'ng-click': 'selectContainer(chapter.id, false, chapter.status); $event.stopPropagation();', 'ng-if': 'chapter.has_contents'}
      %a.chapter{'ct-sub-menu': '', 'ng-bind': 'chapter.name', 'ng-class': "{'submenu': chapter.contents.length, 'active': chapter.status == CONTENT_STATUS.IN_PROGESS}", 'ng-if': '!chapter.has_contents'}
      %ul.chapter-menu{'ng-if': 'chapter.contents.length', 'ng-class': "{'active-content': chapter.id == currentChapterId}"}
        %li{'ng-repeat': 'content in chapter.contents', 'ng-if': '(!content.content && content.is_section && content.has_contents) || (content.is_section && !content.has_contents && content.is_content)', 'ng-class': "{'active': content.id == currentSectionId, 'course-completed-icon': content.status == CONTENT_STATUS.COMPLETED && chapter.status != CONTENT_STATUS.COMPLETED && !$preview(), 'disabled': content.status == CONTENT_STATUS.NOT_STARTED && !$preview()}", 'ng-click': 'selectContainer(content.id, content.is_section, content.status, chapter.id); $event.stopPropagation();', 'ct-animate-content': ''}
          %a.sub-section{'ng-bind': 'content.name'}
    %li{'ng-class': "{'disabled': !courseCompleted && !$preview()}"}
      %a.course-evaluation{'ng-class': "{'disabled': !courseCompleted && !$preview(), 'active': courseState == 'CourseEvalution'}", 'ng-click': 'showCourseEvaluation()'} Course Evaluation
