!!!
%html{lang: 'en', 'ng-app': 'CourseTakingApp', 'ng-controller': 'CourceTakingCtrl'}
  %head
    %title Course Taking
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    = javascript_include_tag '//use.typekit.net/wnv1ggh.js'
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
    = stylesheet_link_tag 'course_creation/course_taking/custom', media: 'all'
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  %body{'ct-document-click': '', 'ng-cloak': ''}
    .wrapper
      %header.ct-header
        .inside
          .left.pull-left
            %a.logo{:href => 'javascript:void(0)'}
              = image_tag 'logo.png', alt: 'USAFootball', title: 'USAFootball'
          .right.pull-right
            %ul.breadcrumb.pull-left
              %li
                %a{'ng-click': "dashboardUrl('#{@dashboard_url}')"} Dashboard
              %li
                %a{:href => 'javascript:void(0)', 'ng-bind': 'courseName'}
            .logout-wrap.pull-right
              - user_name = display_user_name if respond_to?(:display_user_name)
              = link_to "Welcome #{user_name}", 'javascript:void(0)', class: 'welcome-link', 'ct-sub-menu': ''
              %ul.toggle
                %li
                  %a{'ng-click': "logout('#{@logout_url}')"} Logout
          .clearfix
      %section.ct-content
        %div{'ui-view': 'menuView'}
        %div.preview-message{'ng-class': "{'show': $preview()}"}
          %span This Course is in Preview Mode:
          %a{target: '_self', id: 'preview-link', 'ng-href': '/course_creation/versions/{{ versionId }}/syllabus'} Back to Syllabus Page
        %div{'ui-view': 'contentView'}
      .course-taking-right-nav.sideOuter{'ui-view': 'resourceView'}
      %footer.ct-footer
        .inside
          .left.pull-left
            %a.logo{:href => 'javascript:void(0)'}
              = image_tag 'logo.png', alt: 'USAFootball', title: 'USAFootball'
          .right.pull-right
            .copyright
              Copyright &copy; #{current_year} USAFB. All rights reserved.
          .clearfix
    = javascript_include_tag 'course_creation/course_taking/course_taking', :debug => false
    :javascript
      PDFJS.workerSrc = "#{asset_path('course_creation/course_taking/vendor/pdf.worker.js')}"
