<p id='notice'><%= notice %></p>

<p>
  <strong><%= localize('form.name') %></strong>
  <%= @category.name %>
</p>

<%= link_to localize('edit'), edit_category_path(@category) %> |
<%= link_to localize('back'), categories_path %>
