%section.show-course
  %p#notice= notice
  %p
    %strong
      = localize('show')
      %span :
    = @course.title
  .actions
    = link_to localize('edit'), edit_course_path(@course), class: 'btn btn-primary'
    = link_to localize('cancel'), courses_path
