%script{:id => 'twoColumnLayoutPresentation', :type => 'text/ng-template'}
  .two-col-layout.presentation-text
    .left-col{'ng-include' => '', 'ng-repeat': 'slide in slide.contents', 'src' => 'slide | slideContent'}
    .clearfix

=render 'course_creation/course_taking/templates/presentation/slideText'
=render 'course_creation/course_taking/templates/presentation/slideVideo'
=render 'course_creation/course_taking/templates/presentation/slideImage'
