.custom-page-header
  %h1
    = localize('main_heading')
.evaluation-que-form.clearfix
  = render partial: 'form', locals: {version: @version, question: @question }
.four-table-heading.clearfix
  %span
    = localize('sr_no')
  %span.question-name
    = localize('question')
  %span.question-status
    = localize('question_status')
  %span.question-action
    = localize('action_text')
%ul.eval-question-list
  - @questions.each_with_index do |question, index|
    %li.evaluation-question.well.clearfix{data: {question_id: question.id, version_id: @version.id}}
      .eval-attr= index + 1
      .eval-attr.question-name= question.content
      .eval-attr.activate
        = radio_button("question-#{question.id}", 'active', true,
          {checked: question.active, class: 'active-button',
          data: {id: question.id, version_id: question.version.id}})
        %span= t(:activate)
        = radio_button("question-#{question.id}", 'active', false,
          {checked: !question.active, class: 'active-button',
          data: {id: question.id, version_id: question.version.id}})
        %span= t(:deactivate)
      .eval-attr.action-wrap
        = link_to '', edit_version_evaluation_question_path(@version, question), class: 'edit-btn', remote: true
        = link_to '', [@version, question], class: 'delete-btn',  method: :delete, data: {confirm: localize('confirm_delete')}
