.row.filter-wrap
  .col-md-10
    .filter
      = form_tag versions_path, class: 'search-form', method: :get do |f|
        .form-group
          .search-field
            = text_field_tag :search, params[:search], placeholder: localize('search_form.search_placeholder'), class: 'form-control'
            %span.error-msg
          = submit_tag localize('search_form.search'), name: nil, class: 'btn btn-primary'
          = button_tag localize('search_form.reset'), name: 'reset', type: 'button', id: 'reset', class: 'btn btn-primary hidden-area'
  .col-md-2
    .add-course
      = link_to localize('search_form.search_add_course'), new_course_path, class: 'btn btn-primary'
