%section.course-listing
  .custom-page-header
    .container
      %h1
        = localize('list_courses')
  .container
    = render 'search'
    .clearfix
    .result
      %table.table.table-striped.table-bordered.table-condensed.table-hover
        %thead
          %tr
            %th= localize('list.course_serialno')
            %th= localize('list.course_code')
            %th= localize('list.course_name')
            %th= localize('list.course_type')
            %th= localize('list.course_status')
            %th= localize('list.course_action')
        %tbody
          - if @versions.blank?
            %tr.noresult-msg
              %td{colspan: 6}= localize('list.no_results')
          - else
            - @versions.each_with_index do |version, index|
              %tr
                %td= index + 1
                %td= version.id
                %td= link_to version.course.title, edit_course_path(version.course.id)
                %td= version.category.name if version.category.present?
                %td= version.published ? localize('list.published') : localize('list.unpublished')
                %td.action
                  = link_to localize('add_version'), new_version_path,  class: 'btn btn-sm btn-default disabled'
                  = link_to localize(:delete_link), version_path(version), method: :delete, class: "btn btn-sm btn-danger #{version.published && 'disabled'}", data: {confirm: localize(:delete_msg)}
    = paginate @versions
