@font-face
  font-family: 'Glyphicons Halflings'
  src: url(font-path('glyphicons-halflings-regular.eot'))
  src: url(font-path('glyphicons-halflings-regular.eot') + '?#iefix') format('embedded-opentype'), url(font-path('glyphicons-halflings-regular.woff2')) format('woff2'), url(font-path('glyphicons-halflings-regular.woff')) format('woff'), url(font-path('glyphicons-halflings-regular.ttf')) format('truetype'), url(font-path('glyphicons-halflings-regular.svg') + '#glyphicons_halflingsregular') format('svg')

@font-face
  font-family: 'montserratbold'
  src: url(font-path('Montserrat-Bold.eot'))
  src: url(font-path('Montserrat-Bold.eot') + '?#iefix') format('embedded-opentype'), url(font-path('Montserrat-Bold.woff')) format('woff'), url(font-path('Montserrat-Bold.ttf')) format('truetype'), url(font-path('Montserrat-Bold.svg' + '#montserratbold')) format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'montserratregular'
  src: url(font-path('montserrat-regular-webfont.eot'))
  src: url(font-path('montserrat-regular-webfont.eot') + '?#iefix') format('embedded-opentype'), url(font-path('montserrat-regular-webfont.woff')) format('woff'), url(font-path('montserrat-regular-webfont.ttf')) format('truetype'), url(font-path('montserrat-regular-webfont.svg') + '#montserratregular') format('svg')
  font-weight: normal
  font-style: normal


body
  background-color: #fff
  color: #333
  margin: 0
  padding: 0
  font: 14px 'montserratregular', arial, sans-serif
  line-height: 18px

html, body
  height: 100%

input[type='text']
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

textarea.form-control
  resize: vertical

::-webkit-input-placeholder
  color: #999

/* Firefox 18- */
input:-moz-placeholder,
textarea:-moz-placeholder
  color: #999

/* Firefox 19+ */
input::-moz-placeholder,
textarea::-moz-placeholder
  color: #999

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
  color: #999

.alert-notice
  color: #3c763d
  background-color: #dff0d8
  border-color: #d6e9c6

.warning-msg-block
  padding: 15px
  margin-bottom: 20px
  border: 1px solid transparent
  border-radius: 4px

ul
  list-style-type: none
  margin: 0
  padding: 0

a, a:hover
  text-decoration: none

a, a:focus, input[type='submit']:focus
  outline: none

h4, h5, h6
  margin-top: 5px
  margin-bottom: 5px

h2
  margin: 10px 0 15px 0
  padding: 0
  color: #2F4C8F
  font-size: 16pt

section
  padding-bottom: 20px

.hidden-area
  display: none

.btn-primary
  background-color: #286090
  border-color: #204d74
  &:hover
    background-color: #337ab7
    border-color: #2e6da4

.loader
  background: asset-url('updating.gif') rgba(0, 0, 0, 0.3)  no-repeat center center
  height: 100%
  width: 100%
  position: fixed
  z-index: 110
  left: 0
  top: 0
  display: none

.wrapper
  min-height: 100%
  margin-bottom: -40px

label, span.mandatory
  font-weight: normal

label.mandatory:after,
span.mandatory:after
  content: '*'
  color: #FF0000
  display: inline-block
  float: right
  font-weight: normal
  font-size: 16px
  margin: 2px 0 0 2px

header
  background: #28396d
  color: #FFFFFF
  h1
    margin: 0
    font-size: 25px
    text-transform: uppercase
    font-family: 'montserratbold'
    margin: 20px 0

.error
  color: #FF0000
  font-size: 11px
  padding: 4px 2px
  display: block

.disabled, .nav-tabs > li > a.disabled
  color: #cccccc
  cursor: default
  pointer-events: none

.custom-page-header
  .publish-btn-wrap
    text-align: right
    margin-right: 20px
    a
      margin-left: 8px

.subheading
  font-size: 16px
  color: #000000
  margin: 0 0 20px 0

header
  .nav-tabs
    margin: 26px 0 0 0
    border-bottom: none
    li
      color: #333
      font-size: 16px
      text-transform: uppercase
      background: none
      a
        font-size: 16px
        padding: 10px 50px
        color: #FFF
      a:hover, a:focus
        color: #2F4C8F
    .active
      a, a:hover, a:focus
        color: #2F4C8F
        background: #d1d1d1

.left-nav
  margin-top: 30px
  li
    margin: 1px 0
    a
      display: block
      text-decoration: none
      padding: 9px 10px 9px 12px
      background: #969696
      color: #FFFFFF
      border-radius: 4px
    .active
      background: #286090
    &:first-child
      padding-bottom: 0
  .submenu
    a
      &:after
        content: ''
        width: 10px
        height: 6px
        display: block
        float: right
        margin-top: 7px
        background: asset-url('sprite.png') no-repeat -58px -283px
      &.active:after
        background-position: -58px -272px
    li
      a
        background: none
      .active
        color: #000
  ul
    li
      border-bottom: solid 1px #cecece
      &:last-child
        border-bottom: none
    a
      font-size: 14px
      background: none
      color: #666
      text-align: left
      padding-left: 12px
      &:hover
        background: #F8F8F8

.left-border
  &:before
    width: 1px
    background: #dddddd
    content: ''
    display: block
    height: 100%
    position: absolute
    left: 0
    top: 0

/* ==== Course Listing css start ==== */

.table
  th, td
    padding: 7px
  th:first-child, td:first-child
    text-align: center
  .action form
    display: inline-block
  .btn
    margin-right: 5px

.filter-wrap
  margin-bottom: 20px
  .search-field
    min-height: 60px
    position: relative
    float: left
    margin-right: 10px
    .form-control
      width: 350px
    #searchIcon
      cursor: pointer

.add-course
  text-align: right

.filter .glyphicon
  position: absolute
  right: 10px
  top: 10px
  color: #888888

.result
  .table
    th, td
      text-align: center
    &:nth-child(3)
      a
        width: 200px
        display: inline-block
        word-wrap: break-word
    .noresult-msg
      td
        padding: 20px
        font-size: 18px

  /* Add Course css*/

.course-field-bottom
  padding: 20px

.note
  font-size: 11px
  color: #666666
  line-height: 14px
  margin-top: 10px
  display: block
  width: 290px

.course-field
  .form-group
    width: 50%
    margin-bottom: 15px
    min-height: 83px
  .full-form-group
    width: 100%
  .description-form-group
    width: 100%
    min-height: 280px
  .description
    height: 120px
  .mandatory-note
    margin-bottom: 30px
  .note span
    display: block
  .radio-btn-group
    min-height: 70px
    .radio-label
      margin-right: 20px
      font-weight: normal
  .category-wrap
    .form-group
      width: 100%
    .form-group.category-text
      width: 100%
      margin-top: 25px
      min-height: auto
    .category-text
      input
        width: 80%
        float: left
      .btn
        float: right
      .success
        color: #4f8a10
        font-size: 11px

.ui-widget
  font: 13px 'fira-sans', arial, sans-serif !important

.ui-selectmenu-menu
  .ui-menu
    width: 473px !important
  .ui-menu-item
    word-wrap: break-word

.category-dropdown
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default
    background: #FFFFFF
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    &:focus
      border-color: #66afe9
      outline: 0
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)

.add-new-course
  label
    text-transform: capitalize
  .field-label
    display: block
  .video-name
    display: block
    margin-top: 5px
    font-size: 12px
    word-wrap: break-word
    line-height: 12px

  .error
    text-transform: none

.actions
  .btn
    margin-right: 20px

.course-container
  .actions
    .btn:last-child
      margin-right: 0
  .edit-assessment
    display: inline-block
    background: asset-url('sprite.png')
    height: 26px
    width: 23px
    float: right
    margin: 2px 0 0 10px
    background-position: -4px -233px

.add-new-course .actions
  a
    color: #286090

.show-course
  .actions
    margin-top: 30px
    a
      margin-right: 20px

.or-txt
  display: block
  text-align: center
  margin-top: 32px
  position: relative
  top: 50%

.category-link
  margin-top: 32px
  display: block
  color: #333

.new-category
  .btn
    margin-right: 20px

.course-field
  .course-image-wrap,
  .video-image-wrap
    width: 50%
    margin-bottom: 30px
    min-height: 90px
  .image-preview
    width: 115px
    height: 80px
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3)
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3)
    display: inline-block
    float: right
    margin-top: 10px
    text-align: center
    img
      max-width: 100%
      max-height: 100%
  .video-image-wrap
    margin-bottom: 20px
  .recommended-for
    .checkbox
      label
        padding: 0
        margin-right: 10px
      input
        margin: 2px 2px 0 0
        position: static
/* === course listing css end === */

/* ==== Syllabus page css start ==== */
.chapter-container
  .show-heading
    font-size: 24px
    color: #cd091d
    text-transform: capitalize
    font-weight: normal
    border: none
    &:hover
      color: #cd091d
  h5
    margin: 10px 0
    line-height: 20px
  .parent-chapter
    height: auto
    overflow: hidden
    position: relative
    margin: 0
    li
      margin: 5px 0 0 0
      list-style-type: none
  .course_section
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    text-align: center
    color: #FFFFFF
    .add-new-chapter-btn, .add-evaluation-btn
      color: #FFFFFF
      display: block
      text-align: center
      span
        display: inline-block
        line-height: 21px
        &:before
          content: '+'
          font-size: 22px
          margin: 0 8px 0 0
          border: solid 1px #FFFFFF
          width: 21px
          height: 20px
          border-radius: 15px
          text-align: center
          line-height: 20px
          display: inline-block
          float: left
    .evaluation-icon-hide
      text-decoration: none
      cursor: move
      span:before
        content: ''
        border: none
    .add-chapter-wrap:hover
      .cs-button
        opacity: 1
        transition: opacity .5s linear
  .add-new-chapter-wrap, .evaluation-btn-wrap
    .add-new-chapter-btn, .add-evaluation-btn
      padding: 10px 0
  .evaluation-btn-wrap
    background: #28396d
    margin: 10px 0
  .add-new-chapter-btn
    background: #191919
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
  .chapter
    background: #fefef0
    .add-chapter-wrap
      .chapter-name-wrap
        padding: 10px 0
        background: #191919
        border-radius: 4px
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
        position: relative
      .add-btn-syllabus
        position: absolute
        top: 10px
        right: 0
      .add-content-btn
        position: absolute
        right: 0
        top: 8px
      .chapter-inside-wrap
        position: relative
        display: table
        margin: 0 auto
        .action-wrap
          position: absolute
          top: 0
          right: -45px
    .cs-content-tab
      margin: 10px 0
    .content-listing
      padding: 2px
      min-height: 15px
      li
        width: 100%
        display: inline-block
        border-radius: 4px
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
      &:hover
        .cs-button
          opacity: 1
          transition: opacity .5s linear
      li.removed
        display: none
      .sortable-placeholder
        height: 70px
        background-color: #A9E2F3
    .main-content-listing
      li
        width: 76%
    .section-btn-wrap
      padding: 0 20px
      margin: 0 auto
      text-align: center
      .cs-button
        width: 440px
        margin: 5px
        opacity: 1
        .btn
          width: 100%
          padding: 8px 0
          color: #FFFFFF
          span
            display: inline-block
            &:before
              content: '+'
              font-size: 22px
              margin: 0 8px 0 0
              border: solid 1px #FFFFFF
              width: 21px
              height: 20px
              border-radius: 15px
              text-align: center
              line-height: 20px
              display: inline-block
              float: left
      .add-section
        .btn
          background-color: #286090
      .add-assessment
        .btn
          background-color: #345e41
    .section
      .chapter-name-wrap
        background-color: #286090
      .section-name
        position: relative
        display: table
        margin: 0 auto
        .action-wrap
          position: absolute
          top: 0
          right: -45px
    .content-section
      .chapter-name-wrap
        background-color: #606060
    li
      text-align: center
      .course_section
        width: 90%
        display: inline-block
      .course_section.content-section
        width: 76%
    li.removed
      display: none
    .cs-button
      opacity: 0
      cursor: pointer
      display: inline-block
    .add-content
      margin-right: 10px
      width: 100px
    .edit-btn
      height: 16px
      width: 18px
      background: asset-url('sprite.png') no-repeat -78px -30px
      display: inline-block
      cursor: pointer
      margin: 0 2px 0 7px
    .delete-btn
      height: 16px
      width: 14px
      background: asset-url('sprite.png') no-repeat -78px -54px
      display: inline-block
      cursor: pointer
    .cs-content-tab
      display: none
  .edit-course-section
    padding: 10px
    border-radius: 4px
    background: #4c4c4c
    box-shadow: 0 0 10spx rgba(0, 0, 0, 0.5) inset
    margin-top: 4px
    color: #333
    .chapter-name
      float: left
      margin: 6px 15px 6px 0
    .form-group
      float: left
      width: 80%
    .edit-btn-group
      text-align: left
      display: block
      overflow: hidden
      line-height: 30px
      input
        text-transform: capitalize
        margin-right: 20px
      span
        margin: 0 10px

.sortable
  li
    cursor: move

.cs-label
  display: inline-block
/* Syllabus page css end*/

/* Resources page css start */
.resource-lisiting
  .chapter
    margin: 10px 0
  .resource-link
    opacity: 0
  .resource:hover
    .resource-link
      opacity: 1
      transition: opacity .5s linear
  .course_section:hover
    .resource-link
      opacity: 1
      transition: opacity .5s linear
  .resource-list
    text-align: center
    li
      margin-top: 5px
    .resource
      color: #FFFFFF
      background: #606060
      padding: 10px 0
      a
        color: #FFFFFF
      .version-title
        display: table
        margin: 0 auto
        position: relative
        .version-action-wrap
          position: absolute
          top: 0
          right: -45px
      .resource-container
        display: table
        margin: 0 auto
        position: relative
        .action-wrap
          position: absolute
          right: -45px
          top: 0
  .chapter-name-wrap
    line-height: 21px
    .resource-link
      margin-right: 10px

/* Quote css */
.add-quote-wrap
  .add-new-chapter-btn
    display: block
    text-align: center
    color: #FFFFFF
    padding: 10px
    span
      display: inline-block
      line-height: 21px
      &:before
        content: '+'
        font-size: 22px
        margin: 0 8px 0 0
        border: solid 1px #FFFFFF
        width: 21px
        height: 20px
        border-radius: 15px
        text-align: center
        line-height: 20px
        display: inline-block
        float: left
  .chapter
    margin-bottom: 20px
    .resource
      background: #606060
      padding: 10px 0
      border-radius: 4px
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
    .note
      font-size: inherit
      color: #FFFFFF
      line-height: inherit
      margin: 0
      display: inline-block
      width: auto

/* Resources page css end */

/*  color picker */
.color-box
  float:left
  width: 20px
  height: 20px
  margin: 2px
  border: 1px solid #fff

/* Add questions css*/
.error-message
  color: red
  display: none

/* course index */
.red-heading
  color: red

.course-container
  h1
    letter-spacing: 1px
  .red-heading
    margin-top: 0
  .center-text
    margin-top: 15px

.center-text
  text-align: center

.questions-list-box
  margin-bottom: 20px

.criteria-box
  padding: 20px
  border: 1px solid #ccc
  margin-bottom: 20px
  span
    display: inline-block
    margin-right: 30px

.custom-page-header
  padding: 20px 0
  background: #d1d1d1
  border-bottom: 1px solid #ddd
  margin-bottom: 40px
  h1
    margin: 0
    font-size: 30px
  h3
    margin: 0

.left-border
  .custom-page-header
    padding-left: 20px

/* Category List*/
.middle-heading
  margin-bottom: 15px

/* videos List */
#resource_form
  margin-bottom: 20px

.back-btm
  display: inline-block
  margin-bottom: 40px

.edit-video-info
  input,textarea
    margin-bottom: 15px

.videos
  .success, .error
    margin-bottom: 15px
  .default-img-wrapper
    color: #2F4C8F
    margin-bottom: 15px
    img
      width: 100px
      height: 70px
    .url
      overflow: hidden
      width: 100%
      white-space: nowrap
      text-overflow: ellipsis
  .video-detail-wrapper
    background: #f6f6f6
    border-radius: 5px
    border: 1px solid #ddd
    padding: 10px
    margin-bottom: 20px
    overflow: hidden
/* video/pdf css ends */


/* add pdf/video css start */
.add-pdf-wrap
  .form-field
    float: left
    width: 100%
    label
      text-align: left
      &.mandatory:after
        margin-right: 50px
    .note
      margin-top: 5px
      text-align: left
    .chapter-name
      width: 90px

/* custom content css */
.custom-content-wrap
  .form-group
    abbr[title], abbr[data-original-title]
      border-bottom: none
      color: #FF0000
    abbr
      display: inline-block
      height: 14px
      overflow: hidden
  a
    margin-left: 10px
  .note
    margin-bottom: 10px
.add-custom-content
  margin-bottom: 20px
  .has-error
    .help-block,
      color: red
      font-size: 11px
    .control-label
      color: #333
    .form-control
      border-color: #ccc

/* pagination css */
.pagination
  float: right
  margin: 0 0 20px
  a, .current
    float: left
    padding: 6px 12px
    color: #337ab7
    background-color: #fff
    margin-left: -1px
    border: 1px solid #ddd
  a:hover
    color: #23527c
    background-color: #eee
    border-color: #ddd
  .current, .first a, .last a
    color: #000
  span:first-child
    border-radius: 4px 0 0 4px
  span:last-child
    border-radius: 0 4px 4px 0
/* pagination css ends */

/* Interactive Slide css start*/
.interactive-slide-wrap
  .form-group
    width: 50%
    margin-bottom: 30px
  .radio
    input[type='radio']
      margin-left: 0
  .full-group
    width: 100%
  .error-block
    margin-bottom: 10px
.editSlideName
  display: none
.editSlideDescription
  display: none
.edit-heading.hidden-area
  padding-top: 14px
.update-text-container
  display: block
/* Assessment css */
#testAssessmentRadio
  display: none

.practice
  display: none
.test
  display: none
#testQuizCheck
  display: none

.edit-assessment
  .assessment-type-result
    color: #555
    margin-left: 10px

.assessment-wrap
  .assessment-name
    a
      display: inline-block
      word-break: break-word

.new_assessment, .edit_assessment
  .form-group
    width: 50%
  .description-form-group.form-group
    width: 100%
  .assessment-checkbox,
  #testQuizCheck
    .form-group
      min-height: 0
  #testAssessmentRadio
    min-height: 0
    #passingCriteria
      margin-top: 15px
      .form-group
        width: 100%
  .btn-primary
    margin-right: 20px

.edit_assessment
  margin-bottom: 20px

#passingCriteriaNo
  margin-left: 10px

.accordion-items
  border: 1px solid #ccc
  border-top: none
  span
    display: inline-block
    padding: 15px 10px
  span:first-child
    width: 100px
    text-align: center
    vertical-align: top
  .question-text
    width: 635px
  .group-btns
    width: 200px
    padding: 10px 10px 9px
  li
    border-top: 1px solid #ccc
    cursor: pointer
  .ans-wrap
    padding: 5px 10px
    line-height: 25px
    display: table
  .ans-wrap, .image-ans
    .correct-ans
      height: 22px
      width: 22px
      background: asset-url('sprite.png') no-repeat -76px 0
      display: inline-block
      margin: 3px 0 0 10px
      float: right
  .image-ans
    .correct-ans
      position: absolute
      top: 5px
      right: 5px
  .accord-content
    display: none
    padding-left: 105px
    background-color: #f5f5e0
    width: 100%

.table-heading
  border: 1px solid #ccc
  border-bottom: none
  span:first-child
    width: 100px
    text-align: center
  span
    display: inline-block
    padding: 15px 10px
  .action-head
    width: 200px
    display: inline-block

.image-ans
  display: inline-block
  position: relative
  width: 150px
  margin: 5px 0
  img
    width: 100%

.new_question, .edit_question
  input[type='text']
    border-radius: 3px
    border: 1px solid #ccc
    height: 34px
    padding: 6px 12px
  input.error
    font-size: 14px
    color: #333
    display: inline-block
  .question-type
    width: 50%
    margin-bottom: 20px
  .answer-option-label
    margin-bottom: 0
  h5
    margin-bottom: 15px
  .answer-type
    .fields
      margin-bottom: 10px
      background: #f1f1f1
      padding: 10px
      overflow: hidden
    .form-group
      margin-bottom: 0
    .btn-primary
      margin: 0 5px
      padding: 0 6px
      font-size: 16px
      line-height: 20px
      height: 20px
    span.caption
      float: left
    .btn
      margin-top: 6px
    .input-field
      margin-left: 10px
      float: left
    .caption
      margin-top: 8px
    input[type='checkbox'],
    input[type='radio']
      margin: 10px 8px 0 2px
      float: left
  .answer-5, .answer-4
    .caption
      margin: 2px 8px 0 0
    input[type='checkbox']
      margin-top: 4px
    input[type='file']
      display: inline-block
    .btn
      margin-top: 0
  .answer-3,
  .answer-2,
  .answer-4.answer-type
    .single-check
      margin-top: 4px
  .answer-6, .answer-7
    .form-group
      margin-bottom: 15px
  .answer-7
    .add-multiple-match
      margin-right: 0
    .multiple-match-delete-answer
      margin-left: 5px
      line-height: 17px
    .form-group
      width: 70%
      .right-field
        width: 195px
        input:nth-child(n+2)
          margin-top: 10px
  .numeric
    width: 80px

.edit_question
  .answer-6, .answer-7
    .fields
      margin-bottom: 0
      background: none
      padding: 0

.image-preview
  width: 115px
  height: 80px
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3)
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3)
  display: inline-block
  float: right
  text-align: center
  img
    max-width: 100%
    max-height: 100%

.sortable-placeholder
  height: 70px
  background-color: #BDBDBD

.section-list
  min-height: 5px

.upload-file-field
  width: 40%
  .custom-file-upload-wrap
    width: 110px
    position: relative
    float: left
    .custom-file-upload
      position: absolute
      left: 0
      top: 0
      width: 110px
      height: 22px
      opacity: 0
  .custom-upload-file-name
    float: left
    margin: 3px 0 0 20px
    width: 238px
    word-wrap: break-word

/* Multiselect css for certificate page */
.ui-multiselect
  padding: 2px 0 2px 4px
  text-align: left
  span.ui-icon
    float: right
.ui-multiselect-header
  margin-bottom: 3px
  padding: 3px 0 3px 4px
  ul
    font-size: 0.9em
    li
      float: left
      padding: 0 10px 0 0
  a
    text-decoration: none
    &:hover
      text-decoration: underline
  span.ui-icon
    float: left
  li.ui-multiselect-close
    float: right
    text-align: right
    padding-right: 0
.ui-multiselect-menu
  display: none
  padding: 3px
  position: absolute
  z-index: 10000
  text-align: left
.ui-multiselect-checkboxes
  position: relative
  overflow-y: scroll
  label
    cursor: default
    display: block
    border: 1px solid transparent
    padding: 3px 1px
    input
      position: relative
      top: 1px
  li
    clear: both
    font-size: 0.9em
    padding-right: 3px
    &.ui-multiselect-optgroup-label
      text-align: center
      font-weight: bold
      border-bottom: 1px solid
      a
        display: block
        padding: 3px
        margin: 1px 0
        text-decoration: none
.ui-multiselect-single .ui-multiselect-checkboxes
  input
    position: absolute !important
    top: auto !important
    left: -9999px
  label
    padding: 5px !important
* html .ui-multiselect-checkboxes label
  border: none
