/* === Presentation Layout css === */

.presentation-name-wrap
  label
    float: left
    color: #000000
    margin: 10px 15px 10px 0
  .form-control
    width: 30%
    float: left
  label.error
    color: #FF0000

.presentation-main-wrapper, .presentation-wrapper
  position: relative

.new-slide-wrap
  margin-top: 0

.presentation-name-wrap
  label
    float: left
    color: #000000
    margin: 10px 15px 10px 0
  .presentation-name-input
    float: left
    width: 330px
  .form-control
    width: 100%
    float: left

.slide-content
  margin-bottom: 30px
  .subheading
    margin: 30px 0 40px 0
  .layout-type
    overflow: hidden
    padding-left: 0
    li
      float: left
      margin: 20px 20px 0 0
      border: 1px solid #ddd
      margin: 30px 0 0 29px
      input
        outline: none
        width: 289px
        height: 171px
        border: none
        color: transparent
    .one-column-layout
      input
        background: asset-url('one-column-layout.jpg') no-repeat top left
    .two-column-layout
      input
        background: asset-url('two-column-layout.jpg') no-repeat top left

.presentation-main-wrapper
  padding: 0
  margin-bottom: 40px
  .custom-page-header
    margin-bottom: 0

/* slide screen css */

.presentation-header
  .prsentation-name
    text-align: right
    .presentation-label
      float: left
      width: 200px
      margin-right: 20px
      line-height: 21px
    .edit-presentation
      display: inline-block
      background: asset-url('sprite.png')
      height: 26px
      width: 23px
      background-position: -4px -233px
    .form-group
      margin-bottom: 5px

.presentation-header
  .save-button
    width: 110px
    height: 20px
    display: block
    padding: 8px 15px 15px 15px
    border-radius: 4px
    background-color: #004e94
    border: solid 1px #004e94
    color: #fff
    font-size: 18px
    margin-top: 10px

.presentation-wrapper
  position: relative
  overflow: hidden
  .custom-page-header
    h4
      margin: 5px 0
      font-size: 18px
  .slide-container
    min-width: 1480px
  .slide-content-wrapper
    width: 940px
    margin: 0 auto
  .slide-bold
    font-size: 18px
    color: #000
    margin-bottom: 20px
    display: block
  h6
    font: bold 14px arial
    color: #444444
  h4
    font-size: 24px
    margin-top: 15px
  .slide-content
    margin-top: 35px
    ul
      margin: 0 0 0 -30px
      width: 642px
      clear: both
      overflow: hidden
    li
      .select-layout
        width: 289px
        height: 172px
        outline: 0
        border:  none
        box-shadow:  none
        &:active, &:focus, &:visited
          outline: 0
          border:  none
    a
      height: 171px
      width: 100%
      display: block
    .active-slide
      border: 1px solid #004e94
  .slide-thum-wrapper
    width: 270px
    background: white
    position: absolute
    top: 0
    height: 100%
    z-index: 1
    overflow-y: auto
    overflow-x: hidden
    border-right: 1px solid #dddddd
    left: 0px
    h4
      margin: 15px 0 10px 25px
    .nav-content
      margin-top: 30px
    ul
      margin-left: 25px
      width: 245px
    li
      margin: 0 50px 20px 0
      clear: both
      overflow: hidden
      position: relative
      list-style-type: none
    .slide-index
      float: left
      margin-right: 10px
      font-style: normal
      width: 26px
    .slide-thumb
      display: block
      width: 158px
      height: 88px
      position: relative
      float: left
    .delete-slide
      position: absolute
      background: asset-url('sprite.png')
      display: block
    .show-slide
      border: 1px solid #666666
    .active-slide
      border: 2px solid #0D40AC
    .column-1-thumb
      background: asset-url('one-column-thumb.jpg') no-repeat
    .column-2-thumb
      background: asset-url('two-column-thumb.jpg') no-repeat
    .delete-slide
      height: 10px
      width: 10px
      right: 13px
      top: 10px
      background-position: -58px -256px
    .new-slide
      border: 1px solid #ddd
      color: #283c51
      font-size: 12px
      margin-left: 36px
      i
        display: block
        background: asset-url('sprite.png')
        background-position: -30px -234px
        height: 23px
        width: 23px
        transform: translate(0%, 100%)
        -webkit-transform: translate(0%, 100%)
        -moz-transform: translate(0%, 100%)
        -o-transform: translate(0%, 100%)
        margin: 0 auto
      span
        position: absolute
        top: 55px
        left: 36px
        display: block

.slide-heading
  overflow: hidden
  width: 780px
  a
    margin-top: 20px
    color: #004e94
    font-size: 14px

.background-setting
  border: 1px solid #ddd
  padding: 15px 20px
  width: 100%
  margin: 25px 0 40px
  .color-pick
    height: 45px
    width: 45px
    cursor: pointer
    border: 1px solid #bbb
    border-radius: 4px
    padding: 4px 6px
  .background-color
    width: 160px
    a
      display: block
      float: left
      margin: 10px 8px 0px 0
    .nobackground
      border: 1px solid #ddd
      height: 28px
      width: 28px
    .setbackground
      border: 0px solid #004e94
      height: 25px
      width: 0px
      opacity: 0
    span
      margin-top: 8px !important
  .background-image
    width: 194px
    margin-left: 106px
    .custom-upload
      margin-top: 10px
    .upload-image
      position: absolute
      top: 10px
      left: 0
      color: #004e94
      font-size: 14px
  .transition
    width: 240px
    margin-left: 40px
    .transition-slide
      margin-top: 20px
      overflow: hidden
    a
      display: block
      height: 30px
      width: 30px
      margin-right: 10px
      background: asset-url('sprite.png')
      float: left
    .left-transition
      background-position: 0 0
    .left-transition.active-transition
      background-position: -41px 0
    .right-transition
      background-position: 0 -37px
    .right-transition.active-transition
      background-position: -41px -37px
    .bottom-transition
      background-position: 0 -77px
    .bottom-transition.active-transition
      background-position: -41px -77px
    .top-transition
      background-position: 0 -117px
    .top-transition.active-transition
      background-position: -41px -117px
    .blur-transition
      background-position: 0 -157px
    .blur-transition.active-transition
      background-position: -41px -157px
    .no-transition
      background-position: 0 -197px
    .no-transition.active-transition
      background-position: -41px -197px
  .checkbox-wrapper
    clear: both
    width: 100%
    overflow: hidden
    label
      color: #666666
    input[type='checkbox']
      float: left
      margin-top: 2px
      margin-right: 5px

.slide-two-column
  strong
    margin-bottom: 25px

.column-wrapper
  width: 100%
  border: 1px solid #ddd
  background-size: 860px 530px
  background-position: center
  background-repeat: no-repeat
  li
    list-style-type: none
  .column-heading
    position: relative
    width: 822px
    margin: 25px 0 35px 25px
  h4
    text-align: center
    color: #aaa
    margin: 0
    padding: 11px 0 10px
    border: transparent solid 2px
  .addborder
    border: 2px dotted #ddd
  .remove-title
    right: 0px
    top: -15px
    background: asset-url('sprite.png')
    display: block
    float: left
    height: 21px
    width: 23px
    background-position: -4px -262px
  .column-content
    margin: 0 0 20px 0
    padding: 0
    overflow: hidden
    list-style: none
    li
      height: 470px
      border: 1px solid #ddd
      position: relative
      .jwlogo
        display: none
      .mce-panel
        top: 0
        left: 0
        z-index: 1
      #columnTextLeft_ifr, #columnTextRight_ifr
        height: 155px !important
      .left-column-text-save, .right-column-text-save
        overflow: hidden
        padding: 10px
        border: 1px solid #ddd
        margin: 2px 0
      .content-video-wrap
        margin-top: 32px
        div
          margin: 0 auto
    .two-column-slide
      width: 427px
      margin-left: 20px
      float: left
    .single-column
      width: 873px
      margin: 0 auto
  .content-uploaders
    margin: 100px auto 20px
    width: 110px
    .custom-upload
      float: none
      margin: 0 0 10px 0
      width: 110px
    .upload-file, input[type='button']
      background: #fff
      color: #004e94
      font-size: 18px
      height: 35px
      box-shadow: none
      border-radius: 4px
      width: 105px
      border: 1px solid #ddd
      line-height: 32px

.slide-tip
  background-color: #333 !important
  color: #fff !important
  border: none !important
  padding: 3px 10px !important
  margin: 10px 0 0 -30px
  border-radius: 4px
  &:after
    position: absolute
    top: -3px
    left: 30px
    display: inline-block
    border-right: 6px solid transparent
    border-bottom: 6px solid #333
    border-left: 6px solid transparent
    content: ''

.title-controller
  top: 10px
  color: #949494
  font-size: 14px
  display: block
  position: absolute

.save-title
  right: 69px
  display: none

.delete-title
  right: 10px
  display: none

.title
  position: relative
  p
    margin-right: 10px
    font-size: 24px

  .edit-slide-title
    display: inline-block
    background: asset-url('sprite.png')
    height: 21px
    width: 23px
    position: absolute
    top: -15px
    right: 26px
    background-position: -4px -233px

.left-column-text, .right-column-text
  position: relative
  padding: 32px 10px
  height: 470px

.column-content
  .left-column-text-content.editor-desc,
  .right-column-text-content.editor-desc
    text-align: left
    font: 300 16px'fira-sans', arial, sans-serif
    h1, h2, h3, h4, h5, h6
      font-family: 'alternate-gothic-no-3-d', arial, sans-serif
      margin: 0
      line-height: normal
      font-size: inherit
      text-transform: inherit
      font-size: 24px
      font-weight: bold
      color: inherit
    ul, ol
      margin: 0 0 10px 32px
      padding: 0
    ol
      li
        list-style-type: decimal !important
    ul
      li
        list-style: disc
  .single-column
    .editor-desc
      margin: 0 auto
      padding: 0 38px
  .two-column-slide
    .editor-desc
      padding: 0 38px

.editor-desc
  overflow: hidden
  text-align: left
  font: 16px 'fira-sans', arial, sans-serif
  h1
    font-size: 30px !important
  h2
    font-size: 26px !important
  h3
    font-size: 22px !important
  h4
    font-size: 20px !important
  h5
    font-size: 18px !important
  h6
    font-size: 16px !important
  h1, h2, h3, h4, h5, h6
    font-family: 'alternate-gothic-no-3-d', arial, sans-serif
    text-align: inherit
    margin: 0
    padding: 0
    line-height: normal
    font-size: inherit
    text-transform: inherit
    font-weight: bold
    color: inherit
    span
      font-family: 'alternate-gothic-no-3-d', arial, sans-serif !important
  ul, ol
    margin: 0 0 10px 32px
    padding: 0
  ol
    li
      list-style-type: decimal !important
  ul
    li
      list-style: disc
  p, span, strong
    font-family: 'fira-sans', arial, sans-serif !important

.edit-content
  display: inline-block
  height: 21px
  width: 23px
  background: asset-url('sprite.png')
  position: absolute
  right: 28px
  top: 5px
  background-position: -4px -233px

.title-content
  display: inline-block
  width: 100%
  height: 54px
  overflow: hidden

.custom-upload
  position: relative
  height: 40px
  width: 130px
  float: left
  margin-right: 10px
  cursor: pointer
  input[type=file]
    outline: none
    position: relative
    text-align: right
    -moz-opacity: 0
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0)
    opacity: 0
    z-index: 2
    width: 100%
    height: 100%
  .upload-file
    position: absolute
    top: 0px
    left: 0px
    width: 105px
    height: 27px
    padding: 0
    margin: 0
    z-index: 1
    line-height: 100%
    color: #111111
    font-size: 15px
    border-radius: 4px
    background-color: #eeeeee
    border: solid 1px #bbbbbb
    text-align: center
    cursor: pointer

.slide-button
  overflow: hidden
  padding: 20px 0
  height: 100%
  .slide-btn
    border: solid 1px
    border-radius: 4px
    font-size: 18px
    color: #004e94
    text-align: center
    padding: 4px 10px
    margin-right: 10px

.column-content
  .left-column-text-content, .right-column-text-content
    width: 100%
    height: 100%
    line-height: normal
    text-align: center
    li
      height: auto
      border: none
      float: none
      width: auto
    ul
      li
        list-style-type: disc
  .content-img-wrap
    width: 100%
    text-align: center
    .img
      display: table-cell
      vertical-align: middle
      height: 388px
      img
        max-width: 100%
        max-height: 100%
    .presentation-img-wrap
      .img
        display: block
        height: auto
        margin-top: 32px

.column-content
  .right-column-text-content > div
    text-align: left

.disable-all
  background: #000
  height: 100%
  width: 100%
  opacity: 0.6
  z-index: 1000
  position: absolute
  top: 0
  left: 0
  z-index: 5
  display: none
  text-align: center
  img
    margin-top: 250px

#deleteImage
  overflow: hidden
  a
    text-overflow: ellipsis
    width: 112px
    white-space: nowrap
    overflow: hidden
    display: block
    color: #333
    float: left
  i
    display: block
    background: asset-url('sprite.png')
    background-position: -58px -256px
    height: 10px
    width: 10px
    margin: 3px
    float: right

#selectLayoutTwoColumn
  background: asset-url('two-column-layout.jpg')

#selectLayoutOneColumn
  background: asset-url('one-column-layout.jpg')

#leftColumnImage, #rightColumnImage
  position: relative
  width: inherit
  height: inherit
  line-height: 336px
  margin-top: 10px
  vertical-align: middle
  text-align: center
  margin: auto
  img
    vertical-align: middle
    max-width: 402px
    max-height: 388px

.delete-left-column-image,
.delete-right-column-image,
.delete-left-column-video,
.delete-right-column-video
  position: absolute
  right: 10px
  top: 10px
  background: asset-url('sprite.png') no-repeat -125px -1173px
  height: 22px
  width: 22px
  z-index: 1

.left-column-space
  height: 0
  padding: 0
  line-height: 0

.remove-content
  background: asset-url('sprite.png') no-repeat -4px -262px
  display: inline-block
  height: 21px
  width: 23px
  position: absolute
  right: 5px
  top: 5px

.presentation-name-wrapper
  margin-top: 30px
  label
    float: left
    margin-right: 15px
    font-weight: bold
    font-size: 16px
    margin-top: 6px
  input[type='text']
    width: 274px
    height: 22px
    border-radius: 4px
    background-color: white
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15)
    border: solid 1px #dbdbdb
    padding: 8px 13px 4px

.slide-title-panel
  overflow: hidden
  height: auto
  width: 100%
  position: relative
  .slide-title
    color: #a1a1a1
  .updated-slide-title
    color: #333

.section-wrapper
  float: left
  width: 385px

.presentation-name
  float: right
  width: 233px
  text-align: right
  color: #283c51
  font: 18px arial bold
  margin-top: 10px
  .edit-presentation
    display: inline-block
    background: asset-url('sprite.png')
    height: 26px
    width: 23px
    background-position: -125px -1135px

.presentation-name-label
  float: left
  width: 200px

.presentation-name-controller
  font-size: 14px
  .save-presentation
    margin-left: 14px
    float: left

.twocolumn-wrapper
  position: relative

.show-slide-content
  margin-left: 25px

input[readonly]
  background: #fff

.sortable li
  list-style-type: none
  cursor: move

.color-box
  float:left
  width: 20px
  height: 20px
  margin: 2px
  border: 1px solid #fff
