%header
  .container
    .row
      .col-md-3
        %h1= t('course_creation.usaf_lms')
      .col-md-9
        %ul.nav.nav-tabs
          %li{class: active_class_name('courses')}
            = link_to t('course_creation.courses_title'), versions_path
          %li{class: active_class_name('categories')}
            = link_to t('course_creation.category'), categories_path
          %li{class: active_class_name('certificates')}
            = link_to t('course_creation.certificate'), certificates_path
