%ul.left-nav
  - if @version.try(:id)
    %li
      = link_to t('course_creation.basic_information_nav'), edit_course_path(@version.course_id)
    %li
      = link_to t('course_creation.course_syllabus_nav'), syllabus_version_path(@version), class: active_class
    %li.submenu
      = link_to t('course_creation.course_resources_nav.course_resources'), 'javascript:void(0)'
      %ul.hidden-area
        %li
          = link_to t('course_creation.course_resources_nav.document'), version_documents_path(@version)
        %li
          = link_to t('course_creation.course_resources_nav.video'), version_videos_path(@version)
        %li
          = link_to t('course_creation.course_resources_nav.quote'), version_quotes_path(@version)
        %li
          = link_to t('course_creation.course_resources_nav.note'), version_notes_path(@version)
  - else
    %li
      = link_to t('course_creation.basic_information_nav'), 'javascript:void(0)', class: 'active'
    %li
      = link_to t('course_creation.course_syllabus_nav'), 'javascript:void(0)', class: 'disabled'
    %li.submenu
      = link_to t('course_creation.course_resources_nav.course_resources'), 'javascript:void(0)', class: 'disabled'
      %ul.hidden-area
        %li
          = link_to t('course_creation.course_resources_nav.document'), 'javascript:void(0)'
        %li
          = link_to t('course_creation.course_resources_nav.video'), 'javascript:void(0)'
        %li
          = link_to t('course_creation.course_resources_nav.quote'), 'javascript:void(0)'
        %li
          = link_to t('course_creation.course_resources_nav.note'), 'javascript:void(0)'
