= f.input :name, maxlength: '50'
= f.input :zip
= @customcontent.zip_identifier
%span.note= localize('note')
= f.submit localize('submit'), class: 'btn btn-primary save-custom-content', data: { name_message: localize('blank_name_message'), invalid_content: localize('invalid_content'), upload_zip: localize('blank_content_message') }
= link_to localize('cancel'), syllabus_version_path(@version)
