%section.add-custom-content
  .loader
  .custom-page-header
    %h1= localize('edit_form') 
  .custom-content-wrap
    = simple_form_for(@customcontent, url: {action: 'update'}, html: {id: :edit_custom_content}) do |f|
      = render 'form', f: f
